[project]
name = "utilities"
version = "0.1.0"
requires-python = ">=3.8"
dependencies = [
    "pandas",
    "numpy",
    "holidays",
]

[build-system]
requires = ["setuptools>=45", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
packages = ["utilities"]
